<div class="card">
  <!-- En-tête de la carte -->
  <div class="card-header">Add Service</div>

  <div class="card-body">
    <form  >
      <!-- Champ pour le nom d'utilisateur -->
      <div class="form-group">
        <label for="exampleFormControlInput1">Nom d'utilisateur</label>
        <input
          type="text"
          class="form-control"
          id="exampleFormControlInput1"
          placeholder=" Nom d'utilisateur"
        />
      </div>

      <!-- Champ pour le mot de passe -->
      <div class="form-group">
        <label for="exampleFormControlInput1">Mot de passe</label>
        <input
          type="password"
          class="form-control"
          placeholder=" Mot De Passe"
          name="Motdepasse"
        />
      </div>

      <!-- Champ pour le rôle de l'utilisateur -->
      <div class="form-group">
        <label for=""> Role</label>
        <select
          name="Roel"
          class="form-select"
          aria-label="Default select example"
        >
          <option value="" disabled selected hidden>
            Role
          </option>
          <option value="AdminUser">AdminUser</option>
          <option value="Supervisor">Supervisor</option>
        </select>
      </div>

      <!-- Bouton pour enregistrer -->
      <button
        type="submit"
        class="btn btn-light"
        style="background-color: rgba(146, 195, 238, 0.597);  border-radius: 0.5rem;"
      >
        Enregistrer
      </button>
    </form>
  </div>
</div>
