<body>
  <!-- Carte pour la recherche de directions -->
  <div class="card">
    <!-- En-tête de la carte -->
    <div class="card-header">Rechercher des Direction</div>

    <!-- Corps de la carte -->
    <div class="card-body">
      <!-- Champ de recherche avec input-group -->
      <div class="input-group mb-3">
        <input
          type="text"
          class="form-control"
          placeholder="taper un mot cle"
          aria-label="Recipient's username"
          aria-describedby="basic-addon2"
        />
      </div>

      <!-- Bouton pour ajouter un nouveau direction -->
      <span *ngIf="authService.hasRole('ADMIN')" class="link-primary">
        <button
          class="add"
          (click)="openAddDirectionDialog()"
          style="background-color: rgba(146, 195, 238, 0.597);  border-radius: 0.5rem;"
        >
          Nouveau Direction
        </button>
      </span>
    </div>
  </div>

  <!-- Carte pour la liste des directions -->
  <div class="card">
    <!-- En-tête de la carte -->
    <div class="card-header">List Les Directions</div>

    <!-- Corps de la carte -->
    <div class="card-body">
      <!-- Tableau pour afficher les directions -->
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">id</th>
            <th scope="col">Nom de la Direction</th>

          </tr>
        </thead>
        <tbody>
          <!-- Ligne pour chaque direction -->
          <tr
          *ngFor="let D of Direction"
          >
            <th>{{D.id}}</th>
            <td>{{D.nomdirection}}</td>

            <td class="btns">

                          <!-- Dans votre boucle *ngFor pour afficher la liste des stagiaires -->
<td *ngIf="authService.hasRole('ADMIN')" class="btns">
  <a style="cursor: pointer;"  (click)="openUpdateStagiaireDialog()" >
    <mat-icon  aria-hidden="false" aria-label="Modifier">edit</mat-icon>
  </a>
  <a style="cursor: pointer;" (click)="openDeleteConfirmationDialog(D.id)">
    <mat-icon aria-hidden="false" class="delete" aria-label="Supprimer">delete</mat-icon>
  </a>
</td>
<!--
              <a>
                <mat-icon
                  aria-hidden="false"
                  aria-label="Example home icon"
                  fontIcon="update"
                ></mat-icon>
              </a>


              <a>
                <mat-icon
                  aria-hidden="false"
                  class="delete"
                  aria-label="Example home icon"
                  fontIcon="delete"
                ></mat-icon>
              </a>
            </td> -->
          </tr>
        </tbody>
      </table>
    </div>
  </div>

  <!-- Message d'alerte s'il n'y a pas de stagiaire -->
  <div class="alert alert-secondary" role="alert">
    Dosen't exist any stagiaire pour l'instant
  </div>
</body>
