<div class="container">
  <div class="card" style="width: 33rem">
    <h5 class="card-title">
      Stagiaires<span class="badge rounded-pill text-bg-primary ms-2"></span>
    </h5>

    <img
      class="card-img-top"
      src="../../assets/stagiaire-logo-removebg-preview.png"
      alt="Card image cap"
    />
    <div class="card-body">
      <p>
        <span

          class="btn btn-primary"
          (click)="event1()"


        >
          Voir toutes les Stagiaires</span
        >
      </p>
    </div>
  </div>

  <div class="card" style="width: 33rem">
    <h5 class="card-title">
      Services <span class="badge rounded-pill text-bg-primary ms-2"></span>
    </h5>
    <img
      class="card-img-top"
      src="../../assets/pngwing.com.png"
      alt="Card image cap"
    />
    <div class="card-body">
      <p>
        <span
          class="btn btn-primary"
          (click)="event4()"
        >
          Voir toutes les Services</span
        >
      </p>
    </div>
  </div>

  <div class="card" style="width: 33rem">
    <h5 class="card-title">
      Departements <span class="badge rounded-pill text-bg-primary ms-2"></span>
    </h5>
    <img
      class="card-img-top"
      src="../../assets/Dpartemnt.png"
      alt="Card image cap"
    />
    <div class="card-body">
      <p>
        <span


          class="btn btn-primary"
          (click)="event2()"

        >
          Voir toutes les Departements </span
        >
      </p>
    </div>
  </div>

  <div class="card" style="width: 33rem">
    <h5 class="card-title">
      Directions <span class="badge rounded-pill text-bg-primary ms-2"></span>
    </h5>
    <img
      class="card-img-top"
      src="../../assets/pngegg.png"    alt="Card image cap"
    />
    <div class="card-body">
      <p>
        <span


          class="btn btn-primary"
          (click)="event3()"

        >
          Voir toutes les Direction </span
        >
      </p>
    </div>
  </div>

  <div class="card" style="width: 33rem">
    <h5 class="card-title">
      Utilisateurs<span class="badge rounded-pill text-bg-primary ms-2"></span>
    </h5>
    <img
      class="card-img-top"
      src="../../assets/Users.png"
      alt="Card image cap"
    />
    <div class="card-body">
      <p>
        <span
          class="btn btn-primary"
          (click)="event5()"

        >
          voir toutes les Utlisateurs</span
        >
      </p>
    </div>
  </div>
  <div class="card" style="width: 33rem">
    <h5 class="card-title">
      Statut Echec <span class="badge rounded-pill text-bg-primary ms-2"></span>
    </h5>
    <img
      class="card-img-top"
      src="../../assets/statuts.png"
      alt="Card image cap"
    />
    <div class="card-body">
      <p>
        <span
          class="btn btn-primary"
          (click)="event6()"

        >
          Statut Echec de Stagiaires</span
        >
      </p>
    </div>
  </div>
</div>
