
<!-- Stagiaire Component-->
<body>
  <div class="card">
    <div class="card-header">Rechercher des stagiaires</div>

    <div class="card-body">
      <div class="form-group">

        <!-- input pour cherche d'un stagiaire -->
        <input
          type="text"
          class="form-control"
          id="exampleInputCle1"
          aria-describedby=""
          placeholder="taper un mots-clés"
        />
      </div>

   <!-- Section pour ajoute un un stagiaire -->
   <span class="link-primary" (click)="openAddStagiaireDialog()">
    <button class="add" style="background-color: rgba(146, 195, 238, 0.597); border-radius: 0.5rem;">
      Nouveau Stagiaire
    </button>
  </span>
    </div>
  </div>
  <!-- Section d'afficher un stagiaire-->
  <div class="card" >
    <div class="card-header">List des stagiaires</div>

    <div class="card-body">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">id</th>
            <th scope="col">nom</th>
            <th scope="col">prenom</th>
            <th scope="col">Departement</th>
            <th scope="col">N°Telephone</th>
            <th scope="col" >N°Badge</th>
            <th scope="col" >Action</th>
          </tr>
        </thead>
        <tbody>
          <tr
          *ngFor="let S of Stagiaire"
          >
            <td>{{S.id}}</td>
            <td>{{S.nom}}</td>
            <td>{{S.prenom}}</td>
            <td>{{S.Departement}}</td>
            <td>{{S.nTelephone}}</td>
            <td>{{S.Badge}}</td>

     
            <!-- Dans votre boucle *ngFor pour afficher la liste des stagiaires -->
<td class="btns">
  <a (click)="openUpdateStagiaireDialog()" >
    <mat-icon aria-hidden="false" aria-label="Modifier">edit</mat-icon>
  </a>
  <a (click)="openDeleteConfirmationDialog(S.id)">
    <mat-icon aria-hidden="false" class="delete" aria-label="Supprimer">delete</mat-icon>
  </a>
</td>

          </tr>
        </tbody>
      </table>
    </div>

  </div>

     <!-- Cas Ou Any Service Exist  -->
  <div  class="alert alert-secondary" role="alert">
    Dosen't exist any stagiaire pour l'instant
  </div>
</body>
