
<!-- Service Component -->
<body>
  <div class="card">
    <div class="card-header">Rechercher des Service</div>
    <div class="card-body">
      <div class="input-group mb-3">
        <!-- input recherche par ID -->
        <input
          type="text"
          class="form-control"
          placeholder="taper un mot cle"
          aria-label="Recipient's username"
          aria-describedby="basic-addon2"
        />
      </div>

      <!-- Selection de Service -->
      <select
        class="form-select"
        aria-label="Default select example"
      >
        <option value="" disabled selected hidden>Rechercher Les Service</option>
        <option value="DTI">DTI</option>
        <option value="DHCP">DHPC</option>
        <option value="DAL">DAL</option>
        <option value="D700">D700</option>
        <option value="D600">D600</option>
        <option value="D500">D500</option>
      </select>

      <span
          class="link-primary"
        >

        <!-- NvService  Button -->
          <button
          class="add"
          style="background-color: rgba(146, 195, 238, 0.597);  border-radius: 0.5rem;"
          (click)="event()"
          >Nouveau Service</button></span
        >
    </div>
  </div>

  <div class="card">
    <div class="card-header">List des Service</div>

    <div class="card-body">
      <table class="table">
        <thead class="thead-dark">

          <!-- Bar de Ramplir de Service -->
          <tr>
            <th scope="col">id</th>
            <th scope="col">Nom du Service</th>
            <th scope="col">Departement</th>
            <th scope="col" ></th>
          </tr>
        </thead>
        <tbody>

         <!-- Bar de Liste de Service -->
          <tr  >
            <th class="btns" >1</th>
            <td class="btns">Genie Logiciel</td>
            <td class="btns">DSI</td>
            <td class="btns"></td>

        <!-- button Update et Drop de Service -->
            <td class="btns" >
              <a>
                <mat-icon
                  aria-hidden="false"
                  aria-label="Example home icon"
                  fontIcon="update"
                ></mat-icon>
              </a>

              <a >
                <mat-icon
                  aria-hidden="false"
                  class="delete"
                  aria-label="Example home icon"
                  fontIcon="delete"
                ></mat-icon>
              </a>
            </td>
          </tr>
        </tbody>
      </table>
    </div>

  </div>

   <!-- Cas Ou Any Service Exist  -->
  <div  class="alert alert-secondary" role="alert">
    Dosen't exist any Service pour l'instant
  </div>
</body>

