
 <!-- Utilisatur Component -->
<body>
  <div class="card">
    <div class="card-header">Rechercher d'un Utilisateur </div>

    <div class="card-body">
      <div class="input-group mb-3">

         <!-- input pour ajouter un -->
        <input
          type="text"
          class="form-control"
          placeholder="taper un mot cle"
          aria-label="Recipient's username"
          aria-describedby="basic-addon2"
        />
      </div>
    <!--  <select
        class="form-select"
        aria-label="Default select example"
      >
        <option value="" disabled selected hidden>Rechercher Les Service</option>
        <option value="DTI">DTI</option>
        <option value="DHCP">DHPC</option>
        <option value="DAL">DAL</option>
        <option value="D700">D700</option>
        <option value="D600">D600</option>
        <option value="D500">D500</option>
      </select> -->

      <span

          class="link-primary"

        >
          <button
          class="add"
          (click)="openAddUserDialog()"

          style="background-color: rgba(146, 195, 238, 0.597);  border-radius: 0.5rem;"

          >Nouveau Utillisateur</button></span
        >
    </div>
  </div>

  <div class="card">
    <div class="card-header">List de L'utilisateur</div>

    <div class="card-body">
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">id</th>
            <th scope="col">Nom de l'utilisateur</th>
            <th scope="col">Role</th>
            <th scope="col" >Action</th>
          </tr>
        </thead>
        <tbody>
          <tr
          *ngFor="let U of User"
          >
            <td>{{U.id}}</td>
            <td>{{U.nom}}</td>
            <td>{{U.Role}}</td>
           
     
            <!-- Dans votre boucle *ngFor pour afficher la liste des stagiaires -->
<td class="btns">
  <a (click)="openUpdateUserDialog()" >
    <mat-icon aria-hidden="false" aria-label="Modifier">edit</mat-icon>
  </a>
  <a (click)="openDeleteUserDialog(U.id)">
    <mat-icon aria-hidden="false" class="delete" aria-label="Supprimer">delete</mat-icon>
  </a>
</td>

      <!-- icon Update et Drop -->
           
          </tr>
        </tbody>
      </table>
    </div>

  </div>

  
</body>
