<body>
<div class="container">
  <ul class="nav nav-tabs">
    <li class="nav-item">
      <!-- Onglet "Détails" -->
      <a class="nav-link" [ngClass]="{ 'active': currentTab === 'details' }" (click)="changeTab('details')" routerLink="/details">Détails</a>
    </li>
  <!--  <li class="nav-item">
       Onglet "Raison"
      <a style="cursor: pointer;" class="nav-link" [ngClass]="{ 'active': currentTab === 'reason' }" (click)="changeTab('reason')">Plus</a>
    </li>
    <li class="nav-item">
       Onglet "Actions"
      <a style="cursor: pointer;" class="nav-link" [ngClass]="{ 'active': currentTab === 'actions' }" (click)="changeTab('actions')">Actions</a>
    </li> -->
  </ul>

  <div class="tab-content">
    <div class="tab-pane" [ngClass]="{ 'active': currentTab === 'details' }">
      <!-- Contenu de l'onglet "Détails" -->
      <div>
        <h3></h3>
        <table id="stage-table">
          <thead>
            <tr>
              <th>Nom du stagiaire</th>
              <th>Période de stage</th>
              <th>État</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody>
            <!-- Stages existants -->
            <tr class="completed">
              <th>fatma</th>
              <td>Janvier 2023 - Mars 2023</td>
              <td><i class="fas fa-check"></i> Terminé</td>
              <td class="btns" >
                <a (click)="EnvoyerMaileDialog()">
                  <mat-icon
                    aria-hidden="false"
                    aria-label="Example home icon"
                    fontIcon="mail"
                  ></mat-icon>
                </a>

                <a >
                  <mat-icon
                    aria-hidden="false"
                    class="delete"
                    aria-label="Example home icon"
                    fontIcon="delete"
                  ></mat-icon>
                </a>
              </td>



            </tr>
            <br>
            <tr class="ongoing">
              <th>Ahmadou</th>
              <td>Avril 2023 - Juin 2023</td>
              <td><i class="fas fa-spinner"></i> En cours</td>

              <td class="btns" >
                <a (click)="EnvoyerMaileDialog()" >
                  <mat-icon
                    aria-hidden="false"
                    aria-label="Example home icon"
                    fontIcon="mail"
                  ></mat-icon>
                </a>

                <a >
                  <mat-icon
                    aria-hidden="false"
                    class="delete"
                    aria-label="Example home icon"
                    fontIcon="delete"
                  ></mat-icon>
                </a>
              </td>

          </tbody>
        </table>
      </div>
    </div>
    <div class="tab-pane" [ngClass]="{ 'active': currentTab === 'reason' }">
      <!-- Contenu de l'onglet "Raison" -->
      <h3>Raison de l'échec</h3>
      <p>...</p>
    </div>
    <div class="tab-pane" [ngClass]="{ 'active': currentTab === 'actions' }">
      <!-- Contenu de l'onglet "Actions" -->
      <h3>Actions à entreprendre</h3>
      <p>...</p>
    </div>
  </div>
</div>

</body>
