 /* Style pour les onglets */
 .nav-tabs {
  background-color: #f8f9fa;
  padding: 10px;
}

.nav-item {
  display: inline-block;
  margin-right: 10px;
}

.nav-link {
  color: #333;
  text-decoration: none;
  padding: 5px 10px;
  border-radius: 5px;
}

.nav-link.active {
  background-color:rgba(146, 195, 238, 0.597);
  color: #0a0303;
  border-radius: 0.5rem;
}

/* Style pour le contenu des onglets */
.tab-content {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.tab-pane {
  display: none;
}

.tab-pane.active {
  display: block;
}

/* Style pour les titres des onglets */
h3 {
  color: #011099cb;
  margin-bottom: 10px;
  text-align: center;
  text-decoration: wavy;
}

/* Style pour les paragraphes du contenu des onglets */
p {
  color: #555;
}
    /* Style pour la liste des stages */
    ul {
      list-style-type: none;
      padding: 0;
    }

    li {
      margin-bottom: 10px;
      padding: 10px;
      background-color: #f8f9fa;
      border-radius: 5px;
    }

    .completed {
      background-color: #eb4520c4;
    }

    .btn {
  height: 40px;
  margin-left: 20px;
}

    .ongoing {
      background-color: #4aad18ab;
    }

    .stage-name {
      font-weight: bold;
    }

    .stage-period {
      color: #888;
    }
    /* Style pour le tableau des stages */
    table {
      width: 100%;
      border-collapse: collapse;
    }

    th, td {
      padding: 10px;
      text-align: left;
      border-bottom: 1px solid #ddd;
    }

    .completed i {
      color: green;
    }

    .ongoing i {
      color: orange;
    }

    .delete{
      cursor: pointer;
    }
