<div class="card">
  <!-- En-tête de la carte pour l'ajout d'une direction -->
  <div class="card-header">Add Direction</div>

  <div class="card-body">
    <form>

      <!-- Champ pour l'ID de la direction -->
      <div class="form-group">
        <label for="exampleFormControlInput1">ID</label>
        <input
          type="number"
          class="form-control"
          id="exampleFormControlInput1"
          placeholder="le nom"
        />
      </div>

      <!-- Champ pour le nom de la direction -->
      <div class="form-group">
        <label for="exampleFormControlInput1">Nom de Direction</label>
        <input
          type="text"
          class="form-control"
          placeholder="Nom  direction "
          name="filiere"
        />
      </div>

      <!-- Commenté pour le moment -->
<!--      <div class="form-group">
        <label for="">Service</label>
        <select
          name="Service"
          class="form-select"
          aria-label="Default select example"
        >
          <option value="" disabled selected hidden>
            Selectionne Les Departement
          </option>
          <option value="DTI">DTI</option>
          <option value="DHCP">DHCP</option>
          <option value="DAL">DAL</option>
          <option value="DEPT700">DEPT700</option>
          <option value="DEPT500">DEPT500</option>
          <option value="DEPT600">DEPT600</option>
        </select>
      </div> -->

      <!-- Bouton pour enregistrer -->
      <button
        type="button"
        class="btn btn-light"
        style="background-color: rgba(146, 195, 238, 0.597);  border-radius: 0.5rem;"
      >
        Enregistrer
      </button>
    </form>
  </div>
</div>
