

<mat-nav-list>
  <div class="logo py-4">
    <img src="../../assets/snim Logo (1).png" alt="Company Logo" />
  </div>
  <mat-divider></mat-divider>
  <h2 matSubheader class="mt-2">APPLICATIONS</h2>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/card">
    <mat-icon>stars</mat-icon> Accueil </a>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/stagiaire">
    <mat-icon>perm_identity</mat-icon> Stagiaires </a>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/departement">
      <mat-icon>equalizer</mat-icon> Departements</a>

  <a mat-list-item routerLinkActive="list-item-active" routerLink="/utilisateurs">
    <mat-icon>supervisor_account</mat-icon> Utilisateurs
  </a>

</mat-nav-list>
