<div class="card">
  <!-- En-tête de la carte -->
  <div class="card-header">Ajouter un stagiaire</div>

  <div class="card-body">
    <form [formGroup]="form" (ngSubmit)="submitForm()">
      <!-- Champ pour le nom -->
      <div class="form-group">
        <label for="firstname">nom</label>
        <input type="text" class="form-control" id="firstname" placeholder="Le prénom" formControlName="firstname" required />
      </div>

      <!-- Champ pour le prénom -->
      <div class="form-group">
        <label for="lastname">Prénom</label>
        <input type="text"
        class="form-control" i
        d="lastname" placeholder="Le prénom"
        formControlName="lastname"
        required />
      </div>

      <!-- Champ pour CIN -->
      <div class="form-group">
        <label for="cin">cin </label>
        <input
          type="text"
          class="form-control"
          id="cin"
          placeholder=" CIN "
          formControlName="cin"
          required

        />
      </div>

       <!-- Champ pour la date de début -->

        <label for="datedeb" > Date de debut </label>
        <input
          type="date"
          class="form-control"
          id="datefin"
          placeholder="Date debut"
          formControlName="datedeb"
          required
        />


      <!-- Champ pour la date de fin -->
      <div class="form-group">
        <label for="datefin"> Date de Fin </label>
        <input
          type="date"
          class="form-control"
          id="datefin"
          placeholder="Date du fin "
          formControlName="datefin"
          required

        />
      </div>

      <!-- Champ pour le service -->
      <div class="form-group">
        <label for="service">  Service </label>
        <input
          type="text"
          class="form-control"
          id="service"
          placeholder=" Service"
          formControlName="service"
          required

        />
      </div>

      <!-- Champ pour le numéro du badge -->
      <div class="form-group">
        <label for="nbadge" >Numero du Badge</label>
        <input
          type="number"
          class="form-control"
          placeholder="N°Badge"
          id="nbadge"
          placeholder=" Numero Badge"
          formControlName="nbadge"
          required
        />
      </div>

      <!-- Champ pour le numéro de téléphone -->
      <div class="form-group">
        <label for="numberphone" >Numero Telephone </label>
        <input
          type="number"
          class="form-control"
          placeholder="N° Telephone"
          id="numberphone"
          placeholder=" Numero Badge"
          formControlName="numberphone"
          required

        />
      </div>

      <!-- Boutons pour Enregistrer et Annuler -->
      <div class="d-flex justify-content-between">
        <button type="submit" class="btn btn-light" style="background-color: rgba(146, 195, 238, 0.597); border-radius: 0.5rem;">
          Enregistrer
        </button>
        <button
          type="button"
          class="btn btn-light"
          style="background-color: rgba(255, 0, 0, 0.597); border-radius: 0.5rem;"
          (click)="cancelForm()"
        >
          Annuler
        </button>
      </div>
    </form>
  </div>
</div>
