/* Styles pour la carte */
/*.card {
  width: 75%;
  margin-left: 15%;
  margin-top: 20px;
}*/

/* Styles pour les champs de formulaire */
/*.form-group {
  width: 50%;
  margin: 0 auto;
  display: block;
  margin-bottom: 20px;
}*/

/* Styles pour les messages d'alerte */
/*.alert-danger {
  text-align: center;
  width: 50%;
  margin: 0 auto;
  display: block;
  margin-bottom: 20px;
}*/

/* Styles pour les boutons */
/*button {
  margin: 0 auto;
  display: block;
  margin-top: 20px;
}*/
