<div class="card">
  <div class="card-header">Add stagiaire</div>

  <div class="card-body">
    <form>
      <div class="form-group">
        <label for="exampleFormControlInput1">id</label>
        <input
          type="number"
          class="form-control"
          id="exampleFormControlInput1"
          placeholder="le nom"
          name="id"

        />
      </div>

      <div class="form-group">
        <label for="exampleFormControlInput1">nom</label>
        <input
          type="text"
          class="form-control"

          placeholder="le Prenom"


          required
        />
      </div>

      <div class="form-group">
        <label for="exampleFormControlInput1">Prenom</label>
        <input
          type="text"
          class="form-control"

          placeholder=" nom"


        />
      </div>

      <div class="form-group">
        <label for="">Departement</label>
        <input
          type="text"
          class="form-control"

          placeholder=" departement"


        />
      </div>
      <!--
      <div class="form-group">
        <label for="file">File</label>
        <input
          id="file"
          type="file"
          [(ngModel)]="stagiaire.photo"
          class="form-control"
          (change)="($event)"
        />
      </div> -->

      <button  type="button" class="btn btn-light"
      style="background-color: rgba(146, 195, 238, 0.597);  border-radius: 0.5rem;">
        Enregistrer
      </button>
    </form>
  </div>
</div>
